@font-face {
  font-family: "SofiaPro";
  src: url("/fonts/sofia-pro.ttf");
  font-display: auto;
  font-style: normal;
}

$turquoise: #afeeff;
$darkgray: #70809a;
$lightgray: #efefef;
$nearblack: rgb(10, 10, 10);

$gutter-width: calc(100vw / 19);
$column-width: calc(#{$gutter-width} * 2);

$side-bar-margin-top: calc(100vh + 2 * #{$column-width});
$content-offset: calc(-100vh - #{$side-bar-margin-top});

* {
  margin: 0;
}

body {
  padding: 0;
  margin: 0;
  background-color: #f8f4ea;
  cursor: none;
  font-family: "SofiaPro";

  color: $nearblack;
  h1 {
    font-weight: 300;
    font-size: 60pt;
  }

  h2 {
    font-weight: 300;
    font-size: 40pt;
  }

  h2 {
    font-weight: 300;
    font-size: 32pt;
  }
}
