@import "./global.scss";

@font-face {
  font-family: "SofiaPro";
  src: url("/fonts/sofia-pro.ttf");
  font-display: auto;
  font-style: normal;
}

body {
  padding: 0;
  margin: 0;
  background-color: #f8f4ea;
  cursor: none;

  h1,
  h2,
  h3 {
    color: $nearblack;
    font-family: "SofiaPro";
    font-weight: 300;
    margin: 0;
  }

  h1 {
    font-size: 40pt;
  }
  h2 {
    font-size: 20pt;
  }
  h3 {
    font-size: 16pt;
  }

  @media only screen and (min-width: 600px) {
    h1 {
      font-size: 60pt;
    }
    h2 {
      font-size: 32pt;
    }
    h3 {
      font-size: 20pt;
    }
  }
}

.gutter {
  width: $gutter-width;
}

@keyframes breathe {
  from {
    opacity: 0.5;
  }
  to {
    opacity: 1;
  }
}

.breathe {
  animation: breathe 750ms 0s ease alternate infinite;
}
