@import "../../styles/global.scss";

.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 0px 20px;
}

.header {
  transition: all 500ms ease;
  padding-left: 20px;
  transform: translate(-100%, 0);
}

@media only screen and (min-width: 600px) {
  .container,
  .header {
    margin-left: calc(#{$margin} + #{$gutter-width});
  }
}

.inView {
  transform: translate(0, 0%);
  // animation: _inView 500ms 500ms ease forwards;
}

.reverse {
  flex-wrap: wrap-reverse;
}

.description {
  width: 100%;
  margin: 25px 0px;
  min-width: 300px;
  max-width: 500px;
}

.screens {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-self: flex-start;
  align-items: flex-start;
  justify-content: space-between;
  margin-top: 25px;
  max-width: 700px;
}

.screenshot {
  display: flex;
  object-fit: contain;
  height: auto;
  max-width: 45%;
}
