@import "../../styles/global.scss";

.container {
  display: flex;
  margin-left: $margin-left;
  padding: calc(2 * #{$gutter-width}) $gutter-width 0 0;
  min-height: 80vh;
}

.description {
  width: $three-column;
}

.screens {
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  justify-content: space-between;
  width: $four-column;
}

.screenshot {
  display: flex;
  object-fit: contain;
  height: auto;
  max-width: $two-column;
}
