@import "../../styles/global.scss";

$color-size: calc(#{$column-width} / 5);

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes entrance {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

.container {
  z-index: 1;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  top: $margin;
  right: $margin;
  width: $column-width;
  height: $column-width;
  animation: entrance 500ms 0s ease forwards;
}

.spin {
  width: 100%;
  height: 100%;
  animation: spin 60s 0s linear forwards infinite;
}

.wheel {
  width: 100%;
  height: 100%;
  transition: all 200ms cubic-bezier(0.21, 0.94, 0.64, 0.99);
  &:hover {
    transform: scale(1.2);
  }
}

.color {
  transform: rotate(var(--rotate)) translate(0, calc(#{$column-width} / 2));
  position: absolute;
  left: calc((#{$column-width} - #{$color-size}) / 2);
  top: calc((#{$column-width} - #{$color-size}) / 2);

  width: $color-size;
  height: $color-size;
  border-radius: calc(#{$color-size} / 2);
}

.download {
  position: absolute;
}
