@import "../../styles/global.scss";

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  position: sticky;
  align-self: flex-start;
  pointer-events: none;
  top: -35px;
  height: 100vh;
  margin-top: $side-bar-margin-top;

  width: 100px;
  @media only screen and (min-width: 992px) {
    width: $margin-left;
  }
}

.section {
  color: $nearblack;
  opacity: 0.2;
  transition: all 250ms ease;

  transform: rotate(-90deg) translate(15px, -35px);
  @media only screen and (min-width: 992px) {
    transform: rotate(-90deg) translate(-15px, -20px);
  }
}

.active {
  opacity: 1;
  transform: rotate(-90deg) translate(15px, -35px);
  @media only screen and (min-width: 992px) {
    transform: rotate(0deg) translate(15px, 0);
  }
}

.wrapper {
  height: 60px;
  margin: 0 auto;
  display: flex;
  position: relative;
  cursor: pointer;
  pointer-events: auto;
}
