@import "../../styles/global.scss";

@keyframes scrollLeft {
  from {
    transform: translate(0, 0);
  }
  to {
    transform: translate(-50%, 0);
  }
}

.container {
  display: flex;
  overflow-x: scroll;
  height: calc(#{$column-width} * 3 + 2 *#{$gutter-width});

  // transform: translate(-100%, 0);
}

.scroll {
  position: absolute;
  display: flex;
  animation: scrollLeft 30s 0s linear forwards infinite;
}

.canvas {
  width: calc(#{$column-width} * 3 + 2 *#{$gutter-width});
  height: calc(#{$column-width} * 3 + 2 *#{$gutter-width});
  margin: 0 $gutter-width 0 0;
}
