@import "../../styles/global.scss";

@keyframes scrollLeft {
  from {
    transform: translate(0, 0);
  }
  to {
    transform: translate(-50%, 0);
  }
}

.container {
  display: flex;
  overflow-x: scroll;
  height: $three-column;

  // transform: translate(-100%, 0);
}

.scroll {
  position: absolute;
  display: flex;
  animation: scrollLeft 30s 0s linear forwards infinite;
}

.backwards {
  animation: scrollLeft 30s 0s linear reverse infinite;
}

.canvas {
  max-width: $three-column;
  max-height: $three-column;
  margin: 0 $gutter-width 0 0;
}
