@import "../../styles/global.scss";

@keyframes pan {
  from {
    transform: translate(0, 0);
  }
  to {
    transform: translate(-33.333%, 0);
  }
}

.container {
  display: flex;
  overflow-x: scroll;
  margin: 50px 0;
}

.scroll {
  display: flex;
  animation: pan 30s 0s linear forwards infinite;
}

.backwards {
  animation: pan 30s 0s linear reverse infinite;
}

.canvas {
  width: $three-column;
  height: $three-column;
  max-width: 350px;
  max-height: 350px;

  margin: 0 $gutter-width 0 0;
}
