@import "../../styles/global.scss";

.container {
  display: flex;
  overflow-x: scroll;
}

.scroll {
  display: flex;
  overflow-x: scroll;
}

.canvas {
  width: calc(#{$column-width} * 2 + #{$gutter-width});
  height: calc(#{$column-width} * 2 + #{$gutter-width});
  margin: 0 $gutter-width 0 0;
}
