@import "../../styles/global.scss";

$color-wheel-diameter: calc(min(max(20vw, 100px), 300px));
$color-wheel-radius: calc(#{$color-wheel-diameter} / 2);
$color-size: calc(#{$color-wheel-diameter} / 5);
$color-offset: calc((#{$color-wheel-diameter} - #{$color-size}) / 2);

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes entrance {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

.container {
  z-index: 1;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  top: $color-size;
  right: $color-size;
  width: $color-wheel-diameter;
  height: $color-wheel-diameter;
  animation: entrance 500ms 0s ease forwards;
}

.spin {
  width: 100%;
  height: 100%;
  animation: spin 60s 0s linear forwards infinite;
}

.wheel {
  width: 100%;
  height: 100%;
  transition: all 200ms cubic-bezier(0.21, 0.94, 0.64, 0.99);
  &:hover {
    transform: scale(1.2);
  }
}

.color {
  transform: rotate(var(--rotate)) translate(0, $color-wheel-radius);
  position: absolute;
  left: $color-offset;
  top: $color-offset;

  border: solid 2px $nearblack;
  width: $color-size;
  height: $color-size;
  border-radius: $color-size;
}

.download {
  position: absolute;
}
