@import "../../styles/global.scss";

.container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-top: 50px;
  margin-right: $margin;
  margin-bottom: $column-width;
  z-index: 1;
}
