@import "../../styles/global.scss";

.container {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  margin: $margin;
  padding-top: $column-width;
  z-index: 1;
}

.link {
  transition: all 250ms ease;
  &:hover {
    transform: scale(1.2);
  }
}
