@import "../../styles/global.scss";

.container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-top: $column-width;
  margin-right: calc(#{$column-width} + #{$gutter-width} + #{$margin});
  margin-bottom: $column-width;
}
